* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  .logo_codecamp{
    height: 57px;
  }
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.live-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #FCA311;
  font-family: 'Roboto', sans-serif;
}



/* header styling */

.header-container{
  justify-content: space-between;
}

/* header styling */
